body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20 px;
  border: 2px solid;
  border-color: #142d4c;
  border-radius: 10px;
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}
h1 {
  color: #385170;
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
}
h2,
ul {
  color: #385170;
  font-size: 15px;
  font-weight: 100;
  line-height: 18px;
}
.week-day,
.description {
  color: #385170;
  font-size: 18px;
  font-weight: 50;
  line-height: 20px;
}
.big-icon,
.small-icon {
  color: #142d4c;
  display: center;
}
.big-icon {
  font-size: 50px;
}
.small-icon {
  font-size: 30px;
}
.search-button {
  background-color: #142d4c;
  border: none;
  margin:
  padding: 3px;
}
footer {
  font-size: 10px;
  margin: 12px;
}
ul {
  list-style-type: none;
}
.search-field {
  margin: 20px 5px 20px 12px;
}
