body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20 px;
  border: 2px solid;
  border-color: #142d4c;
  border-radius: 10px;
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}

.current-temp {
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  text-align: left;
}
.forecast .icon-small {
  text-align: center;
  display: center;
  margin: 1px;
}

.icon-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.current-city {
  margin-left: 0;
}
h1 {
  color: #385170;
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
}
h2,
ul {
  color: #385170;
  font-size: 15px;
  font-weight: 100;
  line-height: 18px;
}
.week-day,
.description {
  color: #385170;
  font-size: 18px;
  font-weight: 50;
  line-height: 20px;
}
.description {
  font-size: 10px;
}

.big-icon {
  font-size: 50px;
}
.small-icon {
  font-size: 30px;
}
.search-button {
  background-color: #142d4c;
  border: none;
  margin-top: 20px;
}
footer {
  font-size: 10px;
  margin: 12px;
}
ul {
  list-style-type: none;
}
.search-field {
  margin: 20px 5px 20px 12px;
}
.units {
  font-size: 15px;
  position: relative;
}

.units .active {
  color: #385170;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
